[Unit]
Description=redsocks-iptables
After=container-environment-inject.service
Requires=container-environment-inject.service

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/iptables-whitelist.bash
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target