[Unit]
Description=inject environment to /etc/environment for other systemd service
before=basic.service

[Service]
Type=oneshot
# faq reference: https://unix.stackexchange.com/questions/146995/inherit-environment-variables-in-systemd-docker-container?answertab=active#tab-top
ExecStart=/usr/local/bin/container-environment-inject.bash
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target