# /lib/systemd/system/sockd.service
[Unit]
Description=Dante Socks5 Daemon, Provider by sockd.info
Documentation=https://github.com/lozy/danted

[Service]
EnvironmentFile=-/etc/default/sockd
ExecStart=/usr/sbin/sockd -f /etc/sorkd/sockd.conf -N ${Start_Process} ${Sockd_Opts}
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/sockd.pid
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=sockd.service